/* CURSOR LUZ GLOBAL */
.cursor-luz {
  position: fixed;
  width: 180px;
  height: 180px;
  pointer-events: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;

  background: radial-gradient(
    circle,
    rgba(255, 0, 255, 0.6) 0%,
    rgba(0, 255, 255, 0.4) 30%,
    rgba(255, 0, 255, 0.2) 60%,
    transparent 80%
  
  );

  filter: blur(20px);
  mix-blend-mode: screen;
}
/* ACORDEÓN ESTILO */
.acordeon {
  max-width: 800px;
  margin: 20px auto;
}

.item {
  margin-bottom: 10px;
}

.titulo-item {
  width: 100%;
  background: #111;
  color: #fff;
  border: none;
  padding: 15px;
  text-align: left;
  cursor: pointer;
  border: 1px solid #ff00ff;
}

.contenido-item {
  display: none;
  padding: 15px;
  background: #1a001a;
}
body {
  background: radial-gradient(circle at top, #0f0f1a, #050510);
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}